* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
}

.header nav {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.header nav a {
  text-decoration: none;
  padding: 10px;
  background: #007bff;
  color: white;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 10px;
}

form input {
  padding: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

p {
  text-align: center;
  font-size: 1.2em;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #f8f9fa;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}
